<div class="jumbotron">
  <p class="lead">
    I'm a highly motivated graduate Web developer. My 5 years of studies gave me a lot of experience and skills in programming and project management. I'm extremely passionate about web technologies and I 'm actively seeking work experience in these areas.
  </p>
</div>

<div class="row marketing">
  <div class="panel panel-default">
    <div class="panel-header">
      <h2>Education</h2>
    </div>
    <div class="panel-body">
      <h3>Master's degree in computer science </h3>
      <h4>Université de Bordeaux - Speciality software Engineering in project management</h4>
      <p>
        Knowledge building in software life cycle (Specifications, Development, Testing, Maintenance), software design (Software Architecture, Practice of programming languages, formal designs ... ) and ways of working ( Scrum, cycle in V )
      </p>
      <h3>Bacchelor of science</h3>
      <h4>Université de Reims Champagne Ardenne - Compoter science and mathematics</h4>
      <p>
       Strong knowledge building in different domains of computer science such as Algorithm, Mathematics, Logic, System, Web, Data Bases, Compilation, Programmation... 
      </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-header">
      <h2>Projects and Experience</h2>
    </div>
    <div class="panel-body">
      <h3>Engineering Trainee</h3>
      <h4>6 month</h4>
      <p>
       My mission was first to develop a XML generation tool with an Eclipse plugin then to integrate it into a cockpit simulator. I was integrated into a team of seven engineers which work with an agile process. I had to adapt my tool wrote in Java to the simulator who was written in C++ using JNI, JOGL and troubleshooting.
      </p>

      <h3>Snapchat's like website and mobile application</h3>
      <h4></h4>
      <p>
       Web and mobile application remake of Snapchat software. Based on MEAN architecture (MongoDB, Express, Angular and Node), used Cordova. Project made in a team of 5 in agility with SCRUM. 
      </p>
      <b> link to github and to the project </b>

      <h3>Project management site based on Scrum</h3>
      <h4></h4>
      <p>
       Web site of project management for the use of SCRUM, done with LAMP architecture in a team of 3. Work organisation was based on  SCRUM. 
      </p>
      <b> link to github and to the project </b>
    </div>
  </div>

</div>
